<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>212915452033-rcqdhcrfjh8l6rhmtkm64t54pe0vu2as.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212915452033-rcqdhcrfjh8l6rhmtkm64t54pe0vu2as</string>
	<key>API_KEY</key>
	<string>AIzaSyCmqYaksTyjGnkI5RBfKB5HKgHOVAnXH7I</string>
	<key>GCM_SENDER_ID</key>
	<string>212915452033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>curem.gabriel.fernandes.CuremApp</string>
	<key>PROJECT_ID</key>
	<string>medreporting-3da68</string>
	<key>STORAGE_BUCKET</key>
	<string>medreporting-3da68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212915452033:ios:656f0a9407df5153</string>
	<key>DATABASE_URL</key>
	<string>https://medreporting-3da68.firebaseio.com</string>
</dict>
</plist>